/**
*
* Global
*
**/

@font-face {
    font-family: 'Matterhorn';
    src: url("../fonts/matterhorn.eot#") format("eot"),
        url("../fonts/matterhorn.woff") format("woff"),
        url("../fonts/matterhorn.ttf") format("truetype"),
        url("../fonts/matterhorn.svg#Matterhorn") format("svg");
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html {
    background: $color-background;
}

body {
  background: url("../images/background.jpg") no-repeat center -5em;
  font-family: $fontHighlight;
  font-size: $fontBase;
  line-height: 1.6250em; /* 26px */
  font-weight: 300; // to thicken it a bit, we need to remove font-smoothing
  color: $color-text;

  @include baseline-grid();
}
