/**
*
* Helper
*
**/

@keyframes flicker {
    0% {
        background-size: 100%;
    }

    50% {
        background-size: 200%;
    }

    100% {
        background-size: 101%;
    }
}

.clear {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
