/**
*
* Material design color palettes.
* @see http://www.google.com/design/spec/style/color.html
*
**/

/* ==========  Blacks  ========== */

$colorBlack: #000;
$colorGrayDark: rgba($colorBlack, .87);
$colorGray: rgba($colorBlack, .54);
$colorGrayLight: rgba($colorBlack, .26);
$colorGrayLighter: rgba($colorBlack, .12);

/* ==========  Color Palette  =========== */

$color-background: #010D47;
$color-background-light: #3179EF;
$color-text: #9ec0f9;
$color-accent: #fce80e;

$color-rail-top: #CD5E40;
$color-rail-bottom: #C15028;
$color-rail-lip: #F68249;

$color-joy-dark: #EA9600;
$color-joy-light: #FEE800;
$color-joy-bright: #FEF9A2;

$color-fear-dark: #7B0398;
$color-fear-light: #ED7DE1;
$color-fear-bright: #FFD4FC;

$color-disgust-dark: #01A802;
$color-disgust-light: #87E845;
$color-disgust-bright: #C4F4A9;

$color-anger-dark: #F40910;
$color-anger-light: #FF530F;
$color-anger-bright: #FCCE4A;
