<%- include('_layout/header') -%>

<p>2015 was a year of growth, both physical and emotional, and it was also a year for movies. The kids have both reached an age of cognition and bladder control that makes attending the cinema a fun family experience. They love movies, so it only made sense that we play upon the design and ideas of one of our favorite films from this year: <a href="http://movies.disney.com/inside-out" target="_blank">Inside Out</a>.</p>

<p>Each member of <a href="http://milesrauschfamily.com">the Miles Rausch family</a> is portrayed as an emotion from the movie. Tap or click on one of us to see what special memories we have from 2015.</p>

<%- include('_layout/profile', { emotions: insideout }) -%>

<%- include('_layout/footer') -%>
