<nav>
    <ul class="marbles">
        <% marbles.forEach(function( marble, index ) { %>
            <li class="marble">
                <a class="marble--link marble--<%= marble.emotion.toLowerCase() %>" href="#memory<%= index %>" title="<%= marble.name %>">
                    <%= marble.name %>
                </a>
            </li>
        <% }); %>
    </ul>
</nav>
