/**
*
* Header
*
**/

.header {
    margin-bottom: 1em;
    text-align: center;
}

.header--name {
    margin: 0;
    padding: 0;
}

.header--logo {
    display: inline-block;
}

@include media-query(medium) {
    .header {
        margin-bottom: 2em;
    }
}
