/**
*
* Memories
*
**/

.memory {
    color: #fff;
    margin-bottom: 2.5em;
}

.memory--close {
    position: absolute;
    right: 10em;
    top: 0;
    visibility: hidden;
}

.memory:target {
    background: $color-background-light;
    box-shadow: 0 0 1em rgba(0, 0, 0, .35);
    font-size: 1.2em;
    padding: .5em .25em;
}

.memory--text {
    overflow: auto;
    text-align: left;
}

.memory--popup {
    animation: flicker 3s ease-in-out 0s infinite;
    background-color: $color-memory;
    background-image: radial-gradient($color-memory 40%, $color-memory-light);
    background-size: 100%;
    background-position: center center;
    border: 2px solid $color-memory-light;
    border-radius: 1em;
    box-shadow: 0 0 3em $color-memory;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.memory--popup .memory--close {
    visibility: visible;
}

.memory--popup .memory--text {
    padding: .5em 1em;
}

@include media-query(medium) {
    .memory--popup {
        border-radius: 30%;
        box-shadow: 0 0 8em $color-memory;
        margin-bottom: 4em;
    }

    .memory--popup .memory--text {
        padding: 3em 4em;
        text-align: center;
    }
}
